In [1]:
!date

Wed Nov 23 15:35:12 CST 2016

# example usage for ddf_reader module

In [2]:
import pandas as pd
import os
import json

In [3]:
import ddf_utils
from ddf_utils.index import get_datapackage
from ddf_utils.ddf_reader import *

In [4]:
# config
ddf_utils.config.DDF_SEARCH_PATH = os.path.abspath('../../')

In [5]:
# list all datasets
list_datasets()

['ddf--bp--energy',
 'ddf--cdiac-co2',
 'ddf--cme',
 'ddf--cred--em_dat',
 'ddf--fao--aquastat',
 'ddf--fao--food_supply',
 'ddf--fao--forestry',
 'ddf--gapminder--co2_emission',
 'ddf--gapminder--dont_panic_poverty',
 'ddf--gapminder--dummy_companies',
 'ddf--gapminder--gapminder_world',
 'ddf--gapminder--gdp_per_capita_cppp',
 'ddf--gapminder--geo_entity_domain',
 'ddf--gapminder--hist_gdppc',
 'ddf--gapminder--hist_hiv',
 'ddf--gapminder--hist_imr',
 'ddf--gapminder--hist_lex',
 'ddf--gapminder--hist_marriage_age',
 'ddf--gapminder--hist_maternal_mort',
 'ddf--gapminder--hist_pop',
 'ddf--gapminder--hist_tfr',
 'ddf--gapminder--hist_u5mr',
 'ddf--gapminder--life_expectancy',
 'ddf--gapminder--population',
 'ddf--gapminder--systema_globalis',
 'ddf--ihme-lex',
 'ddf--ilo--global_wage',
 'ddf--ilo--kilm_employment_pop',
 'ddf--ilo--kilm_employment_sector',
 'ddf--ilo--kilm_employment_status',
 'ddf--ilo--kilm_hours_work',
 'ddf--ilo--kilm_labour_prod',
 'ddf--ilo--kilm_lf',
 'ddf--ilo--kilm_long_term_unemploy',
 'ddf--ilo--kilm_wage_compensation',
 'ddf--imperial--metabolic',
 'ddf--locked_numbers--ikea_cities_2016',
 'ddf--oecd--dac',
 'ddf--pwt--penn_world_table',
 'ddf--testing--dummy',
 'ddf--transpint--corrupton',
 'ddf--uis--stats',
 'ddf--un--contraceptive_prevalence',
 'ddf--un--unmet_need',
 'ddf--unaids--aidsinfo',
 'ddf--unpop--wpp_demog',
 'ddf--unpop--wpp_pop',
 'ddf--wb--edu',
 'ddf--who--gho',
 'ddf--world_bank--world_development_indicators',
 'sg-dev']

In [6]:
# creat a DDF instance by initialing it with the folder name of that dataset
ddf = DDF('ddf--gapminder--life_expectancy')

In [7]:
res = ddf.get_datapoint_df('life_expectancy')

In [8]:
res.head()

          life_expectancy
geo time
afg 1800            28.21
    1801            28.20
    1802            28.19
    1803            28.18
    1804            28.17

In [9]:
res2 = ddf.get_concepts()

In [20]:
res2

,name,concept_type,indicator_url
concept,,,
name,Name,string,NaN
time,Time,time,NaN
life_expectancy,Life expectancy,measure,https://github.com/open-numbers/ddf--gapminder...
geo,Country,entity_domain,NaN
indicator_url,Indicator URL,string,NaN

In [11]:
ddf.get_all_files()

['ddf--concepts.csv',
 'ddf--datapoints--life_expectancy--by--geo--time.csv',
 'ddf--entities--geo.csv']

In [14]:
ddf.get_datapoint_files()

{'life_expectancy': {('geo',
   'time'): ['ddf--datapoints--life_expectancy--by--geo--time.csv']}}

In [15]:
ddf = DDF('ddf--gapminder--geo_entity_domain')

In [16]:
ent = ddf.get_entities()

In [17]:
ent.keys()

dict_keys(['world_6region', 'landlocked', 'global', 'world_4region', 'g77_and_oecd_countries', 'country', 'main_religion_2008', 'income_groups'])

In [18]:
ent['world_4region']

,rank,is--world_4region,name,name_short,name_long,description,latitude,longitude,color,shape_lores_svg
geo,,,,,,,,,,
africa,2,True,Africa,Africa,The African continent including Madagascar & o...,"The entire African continent, Madagascar and s...",-14.33333,28.50000,#00d5e9,"M322.7,114.7l-1-1.8l-6.5,2.3l-16-4.8l-2.3,1.7l..."
europe,4,True,Europe,Europe,"Central Asia, East & West Europe",West & East Europe including all of Russia and...,50.75000,4.50000,#ffe700,"M556.7,26.9l-35.5-7.3l-3.5,1.4l-49.9-5.2l-2.7,..."
americas,3,True,The Americas,America,"North, South & Central America","North, South & central America make up roughly...",8.99360,-79.51973,#7feb00,"M134.8,152l-11.4,1.8l-3.1-1.7l5.3-1.3l-0.7-1.1..."
asia,1,True,Asia,Asia,"Australia, Pacific Islands, South & South East...","Asia as defined by Gapmidner, to make up rough...",16.16667,107.83333,#ff5872,"M322.9,118.9l22.8,42.5l13.5-5.9l16.8-19l-7.3-6..."